<div class="parents">
  <div class="row">
    <div class="col first">
      <img src="../../assets/jpg.png" height="50%" class="first__profile">
    </div>
    <div class="col second">
      <input type="text" placeholder="Search" class="searchbox">
    </div>
    <div class="col third">
      <div class="dummy"></div>
      <div class="home">
        <img src="../../assets/pngtree-vector-house-icon-png-image_4013710.jpg" style="width: 30px;" />
      </div>
      <div class="messgae">
        <img src="../../assets/3084968-200.png" style="width: 30px;">
      </div>
      <div class="compass">
        <img src="../../assets/compass.png" style="width: 30px;" />
      </div>
      <div class="like">
        <img src="../../assets/png.png" style="width: 30px;" />
      </div>
      <div>
        <img
          src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half-caption/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=0hb44OrI"
          alt="A" class="avatar">
      </div>
    </div>
  </div>
</div>