<div class="right__middle">
        <div *ngFor="let value of data" class="row" >
            <div class="col-9 parent__right">
                <div class="circle">
                    <div class="images">
                        <img src={{value.image}} alt={{value.name}} />
                        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                            style="enable-background:new -580 439 577.9 194;" xml:space="preserve">
                            <circle cx="50" cy="50" r="20" />
                        </svg>
                    </div>
                </div>
                <div class="text">
                    <div class="account__name">
                        Account Name
                    </div>
                    <div class="description">
                        Follow You
                    </div>
                </div>
            </div>
            <div class="col-3 follow">Follow</div>
        </div>
</div>